<div class="container-fluid">
    <table class="table" *ngIf="!isStudentsEmpty()">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Roll No</th>
            <th scope="col">Branch</th>
            <th scope="col">Placement Status</th>
            <th scope="col">View Info</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students; let indexOfElement=index">
            <th scope="row">{{indexOfElement+1}}</th>
            <td scope="row">{{student.name}}</td>
            <td scope="row">{{student.email}}</td>
            <td scope="row">{{student.rollNo}}</td>
            <td scope="row">{{student.branch}}</td>
            <td scope="row">{{student.placed ? 'Placed' : 'Not Placed'}}</td>
            <td scope="row"><button class="info-btn" (click)="onViewInfoClick(student)"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
          </tr>
        </tbody>
      </table>
</div>