<div class="company-container">
    <div  *ngFor="let company of companies; let indexOfElement=index">
        <div class="shadow p-3 mb-5 bg-white rounded card">
            <div class="card-body">
              <h5 class="card-title">{{company.name}}</h5>
              <br>
              <div class="row">
                <div class="col"><h6 class="card-subtitle mb-2 text-muted">{{company.email}}</h6></div>
                <div class="col"><h6 class="card-subtitle mb-2 text-muted">{{company.url}}</h6></div>
              </div>
              <br>
              <p class="card-text">{{company.address}}</p>
              <div class="row">
                <div class="col"><button (click)="deleteCompany()" class="btn btn-dark">Remove</button></div>
                <div class="col"><button (click)="viewCompany(company)" class="btn btn-dark">View</button></div>
              </div>
            </div>
          </div>
    </div>
</div>