<div class="container">
    <hr>
    <h5>Personal Details:</h5>
    <hr>
    <div class="row">
      <div class="col">Name: {{student.name}}</div>
      <div class="col">Roll No: {{student.rollNo}}</div>
      <div class="col">Branch: {{student.branch}}</div>
      <div class="col">Email: {{student.email}}</div>
    </div>
    <hr>

    <hr>
    <h5>Educational Details:</h5>
    <hr>
    <div class="row">
      <div class="col">SSC: {{student.ssc}}</div>
      <div class="col">HSC: {{student.hsc}}</div>
      <div class="col">CGPA: {{student.cgpa}}</div>
    </div>
    <hr>

    <hr>
    <h5>AmCAT Details:</h5>
    <hr>
    <div class="row">
      <div class="col">Quantitative Score: {{student.quantitative_score}}</div>
      <div class="col">Logical Reasoning Score: {{student.logical_reasoning_score}}</div>
      <div class="col">English Proficiency Score: {{student.english_prof_score}}</div>
      <div class="col">Automata Pro Score: {{student.automata_pro_score}}</div>
      <div class="col">Computer Science Score: {{student.computer_science_score}}</div>
    </div>
    <hr>

    <hr>
    <h5>Educational Details:</h5>
    <hr>
    <div class="row">
      <div class="col">Backlogs: {{student.backlogs}}</div>
      <div class="col">Internships: {{student.internships}}</div>
      <div class="col">Projects: {{student.projects}}</div>
    </div>
    <hr>

    <hr>
    <h5>Placement Status: {{student.placed ? 'Placed' : 'Not Placed'}}</h5>
    <hr>

  </div>